/* app.css 1305-1324 */

.progress-row {
  display: grid;
  grid-template-columns: 70px 1fr 54px;
  align-items: center;
  gap: 12px;
  margin: 20px 8px;
  font-size: 15px;
}
.progress-row .bar {
  height: 9px;
  background: #365373;
  border-radius: 10px;
  overflow: hidden;
}
.progress-row .bar > span {
  height: 100%;
  display: block;
  background: #009dff;
}
