# Node.js 相关
node_modules/
dist/
build/

# 打包输出目录
public/

# 特定的第三方脚本
vendor/

# 特定配置文件
*.config.js
*.conf.js

# 环境配置文件
.env
.env.local
.env.*.local

# 日志文件
*.log

# 测试文件
tests/
__tests__/
*.test.js
*.spec.js

# TypeScript 声明文件
*.d.ts

# 系统组件
src/components/
src/layout
src/views/components/
src/views/system
src/views/tool
src/views/monitor
src/views/touch-screen
src/views/big-screen
src/server