@font-face {
  font-family: 'PingFang-Bold';
  src: url('./PingFang-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'PingFang-MD';
  src: url('./PingFang-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'YouSheBiaoTiHei';
  src: url('./YouSheBiaoTiHei.ttf') format('truetype');
}

.bold {
  font-family: var(--font-sans);
  font-weight: 600;
}
